<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario do Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">usuario-form</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input label="Nome" label-placement="floating" type="text" fill="outline" placeholder="Nome"
      name="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Email" label-placement="floating" type="email" fill="outline" placeholder="Email"
      name="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Telefone" label-placement="floating" type="tel" fill="outline" placeholder="Telefone"
      name="tel"></ion-input>
  </ion-item>

    <ion-button color="primary" expand="block">Salvar</ion-button>



      <ion-button color="danger" expand="block">Cancelar</ion-button>




</ion-content>
